<!-- buyer log in page -->

<div class="main">

<div class=form-container>

<h1>Buyer Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field form-section">
    <div class="form-left">
      <%= f.label :email %>
    </div>
    <div class="form-right">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="field form-section">
    <div class="form-left">
      <%= f.label :password %>
    </div>
    <div class="form-right">  
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="button-secondary">
  <%= link_to 'Back', :back %>
</div>

</div>

</div>