<!-- Buyer login modal -->

<!-- Button trigger modal -->

<button type="button" class="button" data-toggle="modal" data-target="#exampleModalCenter1"> Log in
</button>

<!-- Modal -->

<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter1Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenter1Title">Buyer Login</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <%= form_for(buyer_resource, as: buyer_resource_name, url: session_path(buyer_resource_name)) do |f| %>
          <div class="field form-section">
            <div class="form-left">
              <%= f.label :email %>
            </div>
            <div class="form-right">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="field form-section">
            <div class="form-left">
              <%= f.label :password %>
            </div>
            <div class="form-right"  
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>

          <% if buyer_devise_mapping.rememberable? %>
            <div class="field form-section">
              <div class="form-left">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

      </div>


      
    </div>
  </div>
</div>