<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>
  <input type="hidden" name="amount" value="<%= LineItem.total_price(current_buyer) %>">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Purchase Photo"
          data-amount="<%= LineItem.total_price(current_buyer)*100.to_i %>"
          data-locale="auto"></script>
<% end %>