<div class="main"

<div class="c-seller-portfolio">
    <div>
        <div class="c-name"><%= @seller.firstname %> <%= @seller.lastname %></div>
        <div class="c-avatar">
            <% if @seller.avatar_image.attached? %>
                <%= image_tag @seller.avatar_image, style: 'width: 150px; height: 150px; border-radius: 50%' %>
            <% else %>
                <img src="http://cdn.onlinewebfonts.com/svg/img_258083.png" alt="default-avatar-image" style="width: 150px; height: 150px; border-radius: 50%;">
            <% end %>
        </div>
        <div class="c-photo-count">
            <%= @seller.photos.count %> Photos
        </div>
    </div>
    <div class="c-seller-website">
        <%= @seller.website %>
    </div>
    <div class="c-add-photo">
    <div class="button">
        <%= link_to 'Add new', seller_new_photo_path %>
    </div>
    </div>    
</div>

<h3>all your photos</h3>
<ul>
    <% @seller.photos.each do |photo| %>
        <li>
            <%= image_tag photo.uploaded_image, style:'width: 300px' if photo.uploaded_image.attached? %>
            <h4><%= photo.title %></h4>
            <h6>Price: $<%= photo.price %> </h6>
            <p><%= photo.description %></p>
            <div class="button">
            <%= link_to 'Show', photo_path(photo) %> <%= link_to 'Edit', edit_photo_path(photo) %> <%= link_to "delete", delete_photo_path(photo),
                    method: :delete,
                    data: {confirm: 'Are you sure?'} %>
            </div>        
        </li>
    <% end %>
</ul>

</div>