<!-- buyer dashboard -->

<div class="main">

<div class="main-secondary">

<h1>Order History</h1>

<% @orders.each do |order| %>
  
  <div class="c-line-one">
    <p></p>
    <h4>Order #<%= order.id %></h4>
    <p>Order Date <%= order.created_at.strftime("%-d/%m/%Y") %></p>
  </div>

  <div class="c-line-items">  

    <% order.line_items.each do |item| %>
      <div class="c-line-item-image">
        <% unless item.photo.nil?  %>
          <a href="/photos/<%= item.photo.id %>">
          <%= image_tag(item.photo.uploaded_image, style: "width: 300px; margin-right: 25px;") if item.photo.uploaded_image.attached? %></a>
        <% else  %>
          <img src="https://via.placeholder.com/300x200?text=Photo+Has+Been+Deleted" alt="">
        <% end %>
      </div>
    <% end %>

    <div class="c-order-history-right">
      <h4 class="black">Total <%= number_to_currency(order.amount/100) %></h4>
      <div class="button"><%= link_to 'View', order_path(order.id) %></div>
    </div>

  </div>

<% end %>  

</div>

</div>