<!-- view order -->

<div class="main">

<div class="main-secondary">

<h2>YOUR ORDER DETAILS</h2>
<h4>Order#<%= @order.id %></h4>
<h4>Order Date <%= @order.created_at.strftime("%-d/%m/%Y") %></h4>
<div>
  <% @order.line_items.each do |line_item| %>
    <div class="c-line-items">
      <div class="c-line-item-image">
        <a href="/photos/<%= line_item.photo.id %>">
        <%= image_tag(line_item.photo.uploaded_image, style: "width: 300px;") if line_item.photo.uploaded_image.attached? %></a>    
      </div>
      <div class="c-line-item-detail">
        <div><%= line_item.photo.title %></div>
        <div>By: <%= line_item.photo.seller.firstname.capitalize %> <%= line_item.photo.seller.lastname.capitalize %></div>
        <div><%= line_item.photo.description %></div>
      </div>
      <div class="c-line-item-price"><%= number_to_currency(line_item.photo.price) %></div>
    </div>
  <% end %>

  <div class="c-line-items-total">
    <div class="c-line-items-count"><%= @order.line_items.count %> items</div>
    <div>ORDER TOTAL: <%= number_to_currency(@order.amount/100) %></div>
  </div>
</div>

</div>

<%= link_to 'Back to Order History', orders_path %>

</div>