<!-- view order -->

<div class="main">

<div class="main-secondary">

<h1>My order history</h1>
<h4>Order#<%= @order.id %></h4>

<h4>Order Date <%= @order.created_at.strftime("%-d/%m/%Y") %></h4>

  <% @order.line_items.each do |line_item| %>

    <div class="c-line-items">

    <div class="c-line-item-left">
      <div class="c-line-item-image">
        <a href="/photos/<%= line_item.photo.id %>">
        <%= image_tag(line_item.photo.uploaded_image, style: "width: 300px;") if line_item.photo.uploaded_image.attached? %></a>    
      </div>

      <div class="c-line-item-middle">
        <h3><%= line_item.photo.title %></h3>
        <h4>Photographer</h4> <p><%= line_item.photo.seller.firstname.capitalize %> <%= line_item.photo.seller.lastname.capitalize %></p>
        <h4>Description</h4> <p><%= line_item.photo.description %></p>
        </div>

      </div class="c-line-item-right">
      <h4 class="black"><%= number_to_currency(line_item.photo.price) %></h4>
    </div>

  <% end %>

  <div class="c-line-items-total">
    <div class="c-line-items-count"><%= @order.line_items.count %> items</div>
    <div>ORDER TOTAL: <%= number_to_currency(@order.amount/100) %></div>
  </div>
</div>

</div>

<%= link_to 'Back to Order History', orders_path %>

</div>