<!-- shopping cart -->

<div class="main">

<div class="cart-container">

<h1>Shopping Cart</h1>

<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<% @cart.line_items.each do |line_item|%>
    <div>Photo Title: <%= line_item.photo.title %></div>
    <div>Cost: <%= number_to_currency(line_item.photo.price) %></div>
  <div class="button">
    <%= link_to "delete", line_item_path(line_item),
    method: :delete,
    data: {confirm: 'Are you sure?'} %>
  </div>
<% end %>

<div class="c-cart-total">
  <div>Payment: <%= number_to_currency(@cart.total_price) %></div>
</div>

  <%= button_to 'Empty cart', @cart,
      method: :delete,
      data: { confirm: 'Are you sure?' } %>

<div class="button-long">
  <%= link_to 'Continue Shopping', root_path %>
</div>

<%= render "layouts/shared/stripe_form" %>

</div>

</div>