<h1>Edit photo</h1>

<form action="<%= photo_path(params[:id]) %>" method="POST" enctype="multipart/form-data" >
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

    <input type="hidden" name="_method" value="patch" />

    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= @photo.title %>"/>

    <label>Description</label>
    <input type="textarea" name="description" id="description" value="<%= @photo.description %>" />

    <label for="price">Price</label>
    <input type="text" name="price" id="price"  value="<%= @photo.price %>"/>

    <label>Image</label>
    <input type="file" name="uploaded_image" accept="image/png, image/jpeg">

    <input type="submit" value="Update" />
</form>

<%= link_to 'Show', photo_path(@photo) %>
<%= link_to "Back", seller_page_path(@photo.seller_id) %>