<!-- edit page -->

<div class="main-dark">

<div class="form-popout">

<h1>Edit photo</h1>

<form action="<%= photo_path(params[:id]) %>" method="POST" enctype="multipart/form-data" >
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

    <input type="hidden" name="_method" value="patch" />

    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= @photo.title %>"/>

    <label for="book_category_id">Category</label>
    <select class="form-control" id="book_category_id" name="category_id">  
        <% @categories.each do |category| %>
            <option value="<%= category.id %>" <%= "selected" if @photo.category_id == category.id %>><%= category.name %></option>

        <% end %>      
    </select>

    <label>Description</label>
    <input type="textarea" name="description" id="description" value="<%= @photo.description %>" />

    <label for="price">Price</label>
    <input type="text" name="price" id="price"  value="<%= @photo.price %>"/>

    <label>Image</label>
    <input type="file" name="uploaded_image" accept="image/png, image/jpeg">

    <input type="submit" value="Update" />
</form>

</div>

<div class="button-secondary">
    <%= link_to 'Cancel', photo_path(@photo), style: "color: white" %>
</div>

</div>