<div class="main" style= "<%= seller_signed_in? ? "background-color: black !important;" : "background-color: white !important;"%>">

  <div class=c-photo-hero>
    <h1>Stock photography with all Australian content.</h1>
  </div>

  <div class="c-category">
    <div class="c-show-all-photos">
      <% if seller_signed_in? %>
        <div class="button-secondary">
          <%= link_to 'Latest', photos_path, style:"color: white" %></div>
        </div>
        <% Category.all.each do |category| %>
        <div class="<%= "active" if params[:category] == category.name %>">
          <div class="button-secondary">
            <%= link_to category.name, photos_path(category: category.name), style:"color: white" %>
          </div>
        </div>
        <% end %>
        <% else %>
          <div class="button-secondary">
            <%= link_to 'Latest', photos_path %></div>
          </div>
          <% Category.all.each do |category| %>
          <div class="<%= "active" if params[:category] == category.name %>">
            <div class="button-secondary">
              <%= link_to category.name, photos_path(category: category.name) %>
            </div>
          </div>
          <% end %>
      <% end %>
  </div>

  <div class="c-photo-grid">
    <% @photos.each do |photo| %>
      <div class="c-photo-item">
        <a href="/photos/<%= photo.id %>">
          <%= image_tag(photo.uploaded_image, class:'c-item') if photo.uploaded_image.attached? %></a>    
      </div>      
    <% end %>
  </div>

</div>

<div class="footer">
</div>