<div class=c-photo-hero>
  <h1>Stock photography with all Australian content</h1>
</div>

<div class="c-category">
  <div class="c-show-all-photos"><%= link_to 'All', photos_path %></div>
  <% Category.all.each do |category| %>
    <div class="<%= 'active' if params[:category] == category.name %>">
      <%= link_to category.name, photos_path(category: category.name), class:"c-link" %>
    </div>
  <% end %>
</div>

<div class="c-photo-grid">
  <% @photos.each do |photo| %>
    <div class="c-photo-item">
      <a href="/photos/<%= photo.id %>">
        <%= image_tag(photo.uploaded_image, class:'c-item') if photo.uploaded_image.attached? %>
      </a>    
    </div>      
  <% end %>
</div>

<div class=footer>
</div>