<h1>Stock photography with all Australian content</h1>

<div class="c-category">
<div class="c-show-all-photos"><%= link_to 'All', photos_path %></div>
  <% Category.all.each do |category| %>
    <div class="<%= 'active' if params[:category] == category.name %>">
      <%= link_to category.name, photos_path(category: category.name), class:"c-link" %>
    </div>
  <% end %>
</div>

<div class=photo-grid>
    <div class="row">
        <% @photos.each do |photo| %>
          <div class="col-md-3">
            <a href="/photos/<%= photo.id %>">
              <%= image_tag(photo.uploaded_image, style:'width: 300px') if photo.uploaded_image.attached? %>
            </a>    
          </div>      
        <% end %>
    </div>
</div>

<div class=footer>
</div>