<h1>photos</h1>

<%= image_tag @photo.uploaded_image, style:'width: 300px' if @photo.uploaded_image.attached? %>

<h2><%= @photo.title %></h2>

<h4>Price</h4>
<p><%= @photo.price %></p>

<h4>Photographer</h4>
<p><%= @photo.seller.firstname %> <%= @photo.seller.lastname %></p>

<h5>Description</h5>
<p><%= @photo.description %></p>

<%= link_to 'Edit', edit_photo_path(@photo) %>
<%= link_to "delete", delete_photo_path(@photo),
        method: :delete,
        data: {confirm: 'Are you sure?'} %>


<%= link_to "Back", :back %>