<!-- join page -->

<div class="main">

<div class="c-join-photo-hero">

  <div class="c-join-container">

    <div class="c-circle-black">
    <h1 class="custom">SELL</h1>
      <div class="c-signin-btn">
        <%= render "layouts/shared/seller_login_form" %>
        <%= render "layouts/shared/seller_signup_form" %>
      </div>
    </div> 

    <div class="c-circle-white">
      <h1 class="custom">BUY</h1>
          <div class="c-signin-btn">
            <%= render "layouts/shared/buyer_login_form" %>
            <%= render "layouts/shared/buyer_signup_form" %>
          </div>
    </div>

  </div> 
<div class="c-join-footer">
  <div class="button-secondary">
  <%= link_to 'Cancel', root_path %>
</div>
</div>

</div>



</div>