<!-- cart -->

<div class="main">

<div class="main-secondary">

<h1>Shopping Cart</h1>

<% @line_items.each do |line_item|%>

  <div class="c-line-items">

    <div class="c-line-item-left">
      <div class="c-line-item-image">
        <a href="/photos/<%= line_item.photo.id %>">
        <%= image_tag(line_item.photo.uploaded_image, style: "width: 250px; margin-bottom: 25px;") if line_item.photo.uploaded_image.attached? %></a>    
      </div>
      <div class="button">
        <%= link_to "Remove", line_item_path(line_item),
            method: :delete,
            data: {confirm: 'Are you sure?'} %>
      </div>
    </div>

    <div class="c-line-item-middle">
      <h3><%= line_item.photo.title %></h3>
      <h4>Photographer</h4><p><%= line_item.photo.seller.firstname.capitalize %> <%= line_item.photo.seller.lastname.capitalize %></p>
      <h4>Description</h4> <p><%= line_item.photo.description %></p>
    </div>

    <div class="c-line-item-right">
      <h4 class="black"><%= number_to_currency(line_item.photo.price) %></h4>
    </div>

  </div>

<% end %>

<div class="c-line-items-total">

  <div class="c-line-items-total-left">
    <div class="button">
      <%= link_to "Empty Cart", delete_all_path(@line_items),
          method: :delete,
          data: {confirm: 'Are you sure?'} %>
    </div>
      <div class="button-secondary-long">
      <%= link_to 'Continue Shopping', root_path %>
      </div> 
  </div>

  <div class="c-line-items-total-right">
    <div class="c-line-items-count"><%= @line_items.count %> items</div>
    <h4 class="black">TOTAL <%= number_to_currency(@total_amount) %></h4>
  </div>

</div>

<div class="c-items-payment">
  <div><%= render "layouts/shared/stripe_form", total_amount: @total_amount %></div>
</div>

</div>

</div>