<!DOCTYPE html>
<html>
  <head>
    <title>Ozpics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-light bg-light">
      <div class="container">
          
        <div class="navbar-header">
          <%= link_to 'Ozpics', root_path, class: "navbar-brand" %>
        </div>

        <div class="nav navbar-nav navbar-right">

            <% if seller_signed_in? %>
              <li>Hi <%= current_seller.firstname %></li>
              <li class="nav-item dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="caret"><%= link_to 'Dashboard', seller_page_path(current_seller) %></span>                  
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'Edit Account',  edit_seller_registration_path %>
                  <%= link_to 'Log out', destroy_seller_session_path, method: :delete %>
                </div>
              </li>

            <% elsif buyer_signed_in? %>
              <%= link_to 'Shopping Cart', edit_buyer_registration_path %>
              <%= link_to 'Log out', destroy_buyer_session_path, method: :delete %>
            <% else %>
              <%= link_to 'Join', join_path %>
            <% end %>

        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      
    <%= yield %>

  </body>
</html>
